@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ndot55';
  src: url('/fonts/Ndot55.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  @apply bg-background text-foreground font-body;
}
